.navbar {
  width: 100%;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}

.navbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar .logo i {
  font-size: 30px;
}

.navbar .logo p {
  font-size: 22px;
  margin-left: 10px;
  font-weight: 500;
}

.navbar .mode {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.navbar .mode p {
  font-size: 14px;
}
